.p-toolbar {
  background: #1e1e1e;
  border: 1px solid rgba(255, 255, 255, 0.12);
  padding: 0.75rem;
  border-radius: 4px;
}
.p-toolbar .p-toolbar-separator {
  margin: 0 0.5rem;
}

.p-toolbar {
  border: 0 none;
}
