# Autodetect text files
* text=auto eol=lf 

# keep binaries
*.dll binary
*.exe binary
*.bfc binary
*.lib binary
*.jar binary
*.dat binary
*.jfc binary
*.pyd binary
*.cat binary
*.zip binary
*.tar.gz binary
*.jpg binary
*.jpeg binary
*.tiff binary
*.ico binary
*.gif binary
*.png binary
original binary
file binary
folderThumbnail binary
*.woff binary
*.woff2 binary
*.eot binary
*.ttf binary
*.mp4 binary
*.flv binary
*.m4v binary
*.avi binary
*.psd binary
*.pdf binary
*.3gp binary
*.ogv binary
*.webm binary
*.wdmg binary
*.svg binary
*.sftmp binary
