.app {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .header {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    border-bottom: 1px solid var(--surface-border);
    box-sizing: border-box;

    &.menu-hidden {
      height: 36px;
    }
  }

  .iframe-container {
    flex: 1;
    padding: 4px 18px;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
  }

  .p-button-primary {
    width: 5%;
  }

  .message {
    width: 40%;
    height: 8%;
    border-radius: 10px;
    padding: 0.5em;
    /*   margin-bottom: .5em; */
    font-size: 1em;
  }

  .message-out {
    background: #3f51b5;
    color: white;
    margin-left: 84%;
    width: 15%;
  }

  .message-in {
    background: #f1f0f0;
    color: black;
    margin-left: 1%;
    width: 15%;
  }

  .chatpage {
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .sender {
    float: left;
    margin: 4px;
    font-size: 10px;
    color: #9da7af;
    opacity: 0.8;
  }

  .sendbutton {
    margin-left: 15%;
  }
}
