.p-input-icon-left > i:first-of-type {
  left: 0.75rem;
  color: rgba(255, 255, 255, 0.6);
}

.p-input-icon-left > .p-inputtext {
  padding-left: 2.5rem;
}

.p-input-icon-left.p-float-label > label {
  left: 2.5rem;
}

.p-input-icon-right > i:last-of-type {
  right: 0.75rem;
  color: rgba(255, 255, 255, 0.6);
}

.p-input-icon-right > .p-inputtext {
  padding-right: 2.5rem;
}
