#body {
  .app-main {
    flex: 1;
    display: flex;
    width: 100%;

    .sidebar-pane {
      min-width: 50px;
    }

    .content-pane:last-of-type {
      flex: 1;
    }

    .content-area {
      flex: 1;
      height: 100%;

      .splitpanes__splitter {
        display: block;
      }
    }
  }
}
