::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

:-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
