*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 87.5%; // 1 rem = 14px
}

body {
  box-sizing: border-box;
  background-color: var(--surface-a);
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--text-color-secondary);
}

.material-design-icon {
  display: flex;
}
