.splitpanes--vertical > .splitpanes__splitter {
  width: 4px;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  background: var(--surface-c);
  position: relative;

  &::after {
    content: "";
    width: 4px;
    height: 24px;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    background: var(--surface-d);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.splitpanes--horizontal > .splitpanes__splitter {
  height: 4px;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  background: var(--surface-c);
  position: relative;

  &::after {
    content: "";
    height: 4px;
    width: 24px;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    background: var(--surface-d);
    position: absolute;
    left: 50%;
  }
}
