.p-fieldset {
  border: 1px solid #e0e0e0;
  background: #ffffff;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 4px;
}
.p-fieldset .p-fieldset-legend {
  padding: 0.75rem;
  border: 1px solid #e0e0e0;
  color: rgba(0, 0, 0, 0.87);
  background: #ffffff;
  font-weight: 500;
  border-radius: 4px;
}
.p-fieldset.p-fieldset-toggleable .p-fieldset-legend {
  padding: 0;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}
.p-fieldset.p-fieldset-toggleable .p-fieldset-legend a {
  padding: 0.75rem;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 4px;
  transition: none;
}
.p-fieldset.p-fieldset-toggleable .p-fieldset-legend a .p-fieldset-toggler {
  margin-right: 0.5rem;
}
.p-fieldset.p-fieldset-toggleable .p-fieldset-legend a:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
}
.p-fieldset.p-fieldset-toggleable .p-fieldset-legend a:hover {
  color: rgba(0, 0, 0, 0.87);
}
.p-fieldset.p-fieldset-toggleable .p-fieldset-legend:hover {
  background: rgba(0, 0, 0, 0.04);
  border-color: #e0e0e0;
  color: rgba(0, 0, 0, 0.87);
}
.p-fieldset .p-fieldset-content {
  padding: 0.75rem;
}

.p-fieldset .p-fieldset-legend {
  border: 0 none;
}
.p-fieldset.p-fieldset-toggleable .p-fieldset-legend a:focus {
  background: rgba(0, 0, 0, 0.12);
}
