.p-error {
  color: #b00020;
}

.p-text-secondary {
  color: rgba(0, 0, 0, 0.6);
}

.pi {
  font-size: 1rem;
}

.p-link {
  font-size: 1rem;
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial,
    Lucida Grande, sans-serif;
  border-radius: 4px;
}
.p-link:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
}

.p-inputnumber.p-invalid.p-component > .p-inputtext {
  border-color: #b00020;
}

.p-inputwrapper-filled.p-treeselect.p-treeselect-chip .p-treeselect-label {
  padding: 0.375rem 0.75rem;
}

.p-scrollpanel .p-scrollpanel-bar {
  background: rgba(0, 0, 0, 0.12);
  border: 0 none;
}

/* Customizations to the designer theme should be defined here */
