.fc.fc-theme-standard .fc-view-harness .fc-scrollgrid {
  border-color: #e0e0e0;
}
.fc.fc-theme-standard .fc-view-harness th {
  background: #ffffff;
  border-color: #e0e0e0;
  color: rgba(0, 0, 0, 0.87);
}
.fc.fc-theme-standard .fc-view-harness td {
  color: rgba(0, 0, 0, 0.87);
  border-color: #e0e0e0;
}
.fc.fc-theme-standard .fc-view-harness .fc-view {
  background: #ffffff;
}
.fc.fc-theme-standard .fc-view-harness .fc-popover {
  background: none;
  border: 0 none;
}
.fc.fc-theme-standard .fc-view-harness .fc-popover .fc-popover-header {
  border: 1px solid #e0e0e0;
  padding: 0.75rem;
  background: #ffffff;
  color: rgba(0, 0, 0, 0.87);
}
.fc.fc-theme-standard
  .fc-view-harness
  .fc-popover
  .fc-popover-header
  .fc-popover-close {
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-family: "PrimeIcons" !important;
  font-size: 1rem;
  width: 2rem;
  height: 2rem;
  color: rgba(0, 0, 0, 0.6);
  border: 0 none;
  background: transparent;
  border-radius: 50%;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}
.fc.fc-theme-standard
  .fc-view-harness
  .fc-popover
  .fc-popover-header
  .fc-popover-close:before {
  content: "\e90b";
}
.fc.fc-theme-standard
  .fc-view-harness
  .fc-popover
  .fc-popover-header
  .fc-popover-close:hover {
  color: rgba(0, 0, 0, 0.6);
  border-color: transparent;
  background: rgba(0, 0, 0, 0.04);
}
.fc.fc-theme-standard
  .fc-view-harness
  .fc-popover
  .fc-popover-header
  .fc-popover-close:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
}
.fc.fc-theme-standard .fc-view-harness .fc-popover .fc-popover-body {
  padding: 0.75rem;
  border: 1px solid #e0e0e0;
  background: #ffffff;
  color: rgba(0, 0, 0, 0.87);
  border-top: 0 none;
}
.fc.fc-theme-standard .fc-view-harness .fc-event.fc-daygrid-block-event {
  color: #3f51b5;
  background: rgba(63, 81, 181, 0.12);
  border-color: rgba(63, 81, 181, 0.12);
}
.fc.fc-theme-standard
  .fc-view-harness
  .fc-event.fc-daygrid-block-event
  .fc-event-main {
  color: #3f51b5;
}
.fc.fc-theme-standard
  .fc-view-harness
  .fc-event.fc-daygrid-dot-event
  .fc-daygrid-event-dot {
  background: rgba(63, 81, 181, 0.12);
  border-color: rgba(63, 81, 181, 0.12);
}
.fc.fc-theme-standard .fc-view-harness .fc-event.fc-daygrid-dot-event:hover {
  background: rgba(0, 0, 0, 0.04);
  color: rgba(0, 0, 0, 0.87);
}
.fc.fc-theme-standard .fc-view-harness .fc-cell-shaded {
  background: #ffffff;
}
.fc.fc-theme-standard .fc-toolbar .fc-button {
  color: #ffffff;
  background: #3f51b5;
  border: 0 none;
  font-size: 1rem;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s,
    box-shadow 0.2s, background-size 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  border-radius: 4px;
}
.fc.fc-theme-standard .fc-toolbar .fc-button:enabled:hover {
  background: rgba(63, 81, 181, 0.92);
  color: #ffffff;
  border-color: transparent;
}
.fc.fc-theme-standard .fc-toolbar .fc-button:enabled:active {
  background: rgba(63, 81, 181, 0.68);
  color: #ffffff;
  border-color: transparent;
}
.fc.fc-theme-standard .fc-toolbar .fc-button:enabled:active:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
}
.fc.fc-theme-standard .fc-toolbar .fc-button:disabled {
  opacity: 0.38;
  color: #ffffff;
  background: #3f51b5;
  border: 0 none;
}
.fc.fc-theme-standard .fc-toolbar .fc-button .fc-icon-chevron-left {
  font-family: "PrimeIcons" !important;
  text-indent: 0;
  font-size: 1rem;
}
.fc.fc-theme-standard .fc-toolbar .fc-button .fc-icon-chevron-left:before {
  content: "\e900";
}
.fc.fc-theme-standard .fc-toolbar .fc-button .fc-icon-chevron-right {
  font-family: "PrimeIcons" !important;
  text-indent: 0;
  font-size: 1rem;
}
.fc.fc-theme-standard .fc-toolbar .fc-button .fc-icon-chevron-right:before {
  content: "\e901";
}
.fc.fc-theme-standard .fc-toolbar .fc-button:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
}
.fc.fc-theme-standard .fc-toolbar .fc-button.fc-dayGridMonth-button,
.fc.fc-theme-standard .fc-toolbar .fc-button.fc-timeGridWeek-button,
.fc.fc-theme-standard .fc-toolbar .fc-button.fc-timeGridDay-button {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.87);
  transition: background-color 0.2s, border-color 0.2s, color 0.2s,
    box-shadow 0.2s, background-size 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
}
.fc.fc-theme-standard .fc-toolbar .fc-button.fc-dayGridMonth-button:hover,
.fc.fc-theme-standard .fc-toolbar .fc-button.fc-timeGridWeek-button:hover,
.fc.fc-theme-standard .fc-toolbar .fc-button.fc-timeGridDay-button:hover {
  background: #f6f6f6;
  border-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.87);
}
.fc.fc-theme-standard
  .fc-toolbar
  .fc-button.fc-dayGridMonth-button.fc-button-active,
.fc.fc-theme-standard
  .fc-toolbar
  .fc-button.fc-timeGridWeek-button.fc-button-active,
.fc.fc-theme-standard
  .fc-toolbar
  .fc-button.fc-timeGridDay-button.fc-button-active {
  background: #e0e0e1;
  border-color: #e0e0e1;
  color: rgba(0, 0, 0, 0.87);
}
.fc.fc-theme-standard
  .fc-toolbar
  .fc-button.fc-dayGridMonth-button.fc-button-active:hover,
.fc.fc-theme-standard
  .fc-toolbar
  .fc-button.fc-timeGridWeek-button.fc-button-active:hover,
.fc.fc-theme-standard
  .fc-toolbar
  .fc-button.fc-timeGridDay-button.fc-button-active:hover {
  background: #d9d8d9;
  border-color: #d9d8d9;
  color: rgba(0, 0, 0, 0.87);
}
.fc.fc-theme-standard
  .fc-toolbar
  .fc-button.fc-dayGridMonth-button:not(:disabled):focus,
.fc.fc-theme-standard
  .fc-toolbar
  .fc-button.fc-timeGridWeek-button:not(:disabled):focus,
.fc.fc-theme-standard
  .fc-toolbar
  .fc-button.fc-timeGridDay-button:not(:disabled):focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
  z-index: 1;
}
.fc.fc-theme-standard .fc-toolbar .fc-button-group .fc-button {
  border-radius: 0;
}
.fc.fc-theme-standard .fc-toolbar .fc-button-group .fc-button:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.fc.fc-theme-standard .fc-toolbar .fc-button-group .fc-button:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.fc.fc-theme-standard .fc-highlight {
  color: #3f51b5;
  background: rgba(63, 81, 181, 0.12);
}

.fc.fc-theme-standard .fc-toolbar .fc-button:focus {
  background: rgba(63, 81, 181, 0.76);
}
.fc.fc-theme-standard .fc-toolbar .fc-button:active {
  background: rgba(63, 81, 181, 0.68);
}
.fc.fc-theme-standard .fc-toolbar .fc-button-group .fc-button:focus {
  background: rgba(63, 81, 181, 0.76);
}
.fc.fc-theme-standard .fc-toolbar .fc-button-group .fc-button:active {
  background: rgba(63, 81, 181, 0.68);
}
.fc.fc-theme-standard
  .fc-toolbar
  .fc-button-group
  .fc-button.fc-dayGridMonth-button:focus,
.fc.fc-theme-standard
  .fc-toolbar
  .fc-button-group
  .fc-button.fc-timeGridWeek-button:focus,
.fc.fc-theme-standard
  .fc-toolbar
  .fc-button-group
  .fc-button.fc-timeGridDay-button:focus {
  background: #e0e0e1;
  border-color: #e0e0e1;
}
.fc.fc-theme-standard
  .fc-toolbar
  .fc-button-group
  .fc-button.fc-dayGridMonth-button:focus.p-highlight,
.fc.fc-theme-standard
  .fc-toolbar
  .fc-button-group
  .fc-button.fc-timeGridWeek-button:focus.p-highlight,
.fc.fc-theme-standard
  .fc-toolbar
  .fc-button-group
  .fc-button.fc-timeGridDay-button:focus.p-highlight {
  background: #d9d8d9;
  border-color: #d9d8d9;
}
