.p-menu {
  padding: 0.5rem 0;
  background: #1e1e1e;
  color: rgba(255, 255, 255, 0.87);
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 4px;
  width: 12.5rem;
}
.p-menu .p-menuitem-link {
  padding: 0.75rem 0.75rem;
  color: rgba(255, 255, 255, 0.87);
  border-radius: 0;
  transition: none;
  user-select: none;
}
.p-menu .p-menuitem-link .p-menuitem-text {
  color: rgba(255, 255, 255, 0.87);
}
.p-menu .p-menuitem-link .p-menuitem-icon {
  color: rgba(255, 255, 255, 0.6);
  margin-right: 0.5rem;
}
.p-menu .p-menuitem-link .p-submenu-icon {
  color: rgba(255, 255, 255, 0.6);
}
.p-menu .p-menuitem-link:not(.p-disabled):hover {
  background: rgba(255, 255, 255, 0.04);
}
.p-menu .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
  color: rgba(255, 255, 255, 0.87);
}
.p-menu .p-menuitem-link:not(.p-disabled):hover .p-menuitem-icon {
  color: rgba(255, 255, 255, 0.6);
}
.p-menu .p-menuitem-link:not(.p-disabled):hover .p-submenu-icon {
  color: rgba(255, 255, 255, 0.6);
}
.p-menu .p-menuitem-link:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
}
.p-menu.p-menu-overlay {
  background: #2b2b2b;
  border: 0 none;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
}
.p-menu .p-submenu-header {
  margin: 0;
  padding: 0.75rem;
  color: rgba(255, 255, 255, 0.6);
  background: transparent;
  font-weight: 400;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.p-menu .p-menu-separator {
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  margin: 0.5rem 0;
}
.p-menu .p-menuitem .p-menuitem-link:focus {
  background: rgba(255, 255, 255, 0.12);
}
