.p-steps .p-steps-item .p-menuitem-link {
  background: transparent;
  transition: none;
  border-radius: 4px;
  background: transparent;
}
.p-steps .p-steps-item .p-menuitem-link .p-steps-number {
  color: rgba(255, 255, 255, 0.87);
  border: 1px solid transparent;
  background: transparent;
  min-width: 2rem;
  height: 2rem;
  line-height: 2rem;
  font-size: 1.143rem;
  z-index: 1;
  border-radius: 50%;
}
.p-steps .p-steps-item .p-menuitem-link .p-steps-title {
  margin-top: 0.5rem;
  color: rgba(255, 255, 255, 0.87);
}
.p-steps .p-steps-item .p-menuitem-link:not(.p-disabled):focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
}
.p-steps .p-steps-item.p-highlight .p-steps-number {
  background: rgba(159, 168, 218, 0.16);
  color: #9fa8da;
}
.p-steps .p-steps-item.p-highlight .p-steps-title {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.87);
}
.p-steps .p-steps-item:before {
  content: " ";
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  width: 100%;
  top: 50%;
  left: 0;
  display: block;
  position: absolute;
  margin-top: -1rem;
}

.p-steps {
  padding: 1rem 0;
}
.p-steps .p-steps-item {
  justify-content: flex-start;
  flex-direction: row-reverse;
  align-items: center;
}
.p-steps .p-steps-item:before {
  position: static;
  left: auto;
  top: auto;
  margin-top: 0;
}
.p-steps .p-steps-item:last-child {
  flex-grow: 0;
}
.p-steps .p-steps-item:last-child:before {
  display: none;
}
.p-steps .p-steps-item .p-menuitem-link {
  flex-direction: row;
  flex: 1 1 auto;
  overflow: visible;
  padding: 1rem 0.5rem;
}
.p-steps .p-steps-item .p-menuitem-link .p-steps-number {
  background-color: #9e9d9e;
  color: #ffffff;
  font-size: 0.857rem;
  min-width: 1.714rem;
  height: 1.714rem;
  line-height: 1.714rem;
}
.p-steps .p-steps-item .p-menuitem-link .p-steps-title {
  margin: 0;
  padding-left: 0.5rem;
}
.p-steps .p-steps-item .p-menuitem-link:not(.p-disabled):focus {
  background: rgba(255, 255, 255, 0.12);
}
.p-steps .p-steps-item.p-highlight .p-steps-number {
  background-color: #9fa8da;
  color: #121212;
}
.p-steps .p-steps-item.p-highlight .p-steps-title {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.87);
}
.p-steps .p-steps-item.p-disabled {
  opacity: 1;
}
