.p-badge {
  background: #9fa8da;
  color: #121212;
  font-size: 0.75rem;
  font-weight: 700;
  min-width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
}
.p-badge.p-badge-secondary {
  background-color: #f48fb1;
  color: #121212;
}
.p-badge.p-badge-success {
  background-color: #c5e1a5;
  color: #212121;
}
.p-badge.p-badge-info {
  background-color: #90caf9;
  color: #212121;
}
.p-badge.p-badge-warning {
  background-color: #fff59d;
  color: #212121;
}
.p-badge.p-badge-danger {
  background-color: #ef9a9a;
  color: #212121;
}
.p-badge.p-badge-lg {
  font-size: 1.125rem;
  min-width: 2.25rem;
  height: 2.25rem;
  line-height: 2.25rem;
}
.p-badge.p-badge-xl {
  font-size: 1.5rem;
  min-width: 3rem;
  height: 3rem;
  line-height: 3rem;
}
