.p-accordion .p-accordion-header .p-accordion-header-link {
  padding: 1.25rem;
  border: 0 none;
  color: rgba(0, 0, 0, 0.87);
  background: #ffffff;
  font-weight: 400;
  border-radius: 4px;
  transition: none;
}
.p-accordion
  .p-accordion-header
  .p-accordion-header-link
  .p-accordion-toggle-icon {
  margin-right: 0.5rem;
}
.p-accordion
  .p-accordion-header:not(.p-disabled)
  .p-accordion-header-link:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
}
.p-accordion
  .p-accordion-header:not(.p-highlight):not(.p-disabled):hover
  .p-accordion-header-link {
  background: #f6f6f6;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.87);
}
.p-accordion
  .p-accordion-header:not(.p-disabled).p-highlight
  .p-accordion-header-link {
  background: #ffffff;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.87);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.p-accordion
  .p-accordion-header:not(.p-disabled).p-highlight:hover
  .p-accordion-header-link {
  border-color: transparent;
  background: #ffffff;
  color: rgba(0, 0, 0, 0.87);
}
.p-accordion .p-accordion-content {
  padding: 0.75rem 1.25rem;
  border: 0 none;
  background: #ffffff;
  color: rgba(0, 0, 0, 0.87);
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.p-accordion .p-accordion-tab {
  margin-bottom: 0;
}
.p-accordion .p-accordion-tab .p-accordion-header .p-accordion-header-link {
  border-radius: 0;
}
.p-accordion .p-accordion-tab .p-accordion-content {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.p-accordion
  .p-accordion-tab:not(:first-child)
  .p-accordion-header
  .p-accordion-header-link {
  border-top: 0 none;
}
.p-accordion
  .p-accordion-tab:not(:first-child)
  .p-accordion-header:not(.p-highlight):not(.p-disabled):hover
  .p-accordion-header-link,
.p-accordion
  .p-accordion-tab:not(:first-child)
  .p-accordion-header:not(.p-disabled).p-highlight:hover
  .p-accordion-header-link {
  border-top: 0 none;
}
.p-accordion
  .p-accordion-tab:first-child
  .p-accordion-header
  .p-accordion-header-link {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.p-accordion
  .p-accordion-tab:last-child
  .p-accordion-header:not(.p-highlight)
  .p-accordion-header-link {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.p-accordion .p-accordion-tab:last-child .p-accordion-content {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.p-accordion .p-accordion-tab {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 0;
  border-radius: 0;
  position: relative;
  transition: margin-bottom 225ms;
}
.p-accordion .p-accordion-tab:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.p-accordion .p-accordion-tab:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.p-accordion .p-accordion-tab .p-accordion-toggle-icon {
  order: 1;
  margin-left: auto;
  transition: transform 0.2s;
}
.p-accordion
  .p-accordion-tab:not(.p-accordion-tab-active)
  .p-accordion-header-link:focus {
  background: #f6f6f6;
}
.p-accordion
  .p-accordion-tab:not(.p-accordion-tab-active)
  .p-accordion-toggle-icon {
  transform: rotate(-270deg);
}
.p-accordion .p-accordion-tab.p-accordion-tab-active {
  margin-bottom: 1rem;
}
.p-accordion .p-accordion-tab.p-accordion-tab-active .p-accordion-toggle-icon {
  transform: rotate(-180deg);
}
.p-accordion .p-accordion-tab .p-accordion-header.p-disabled {
  opacity: 1;
}
.p-accordion
  .p-accordion-tab
  .p-accordion-header.p-disabled
  .p-accordion-header-link
  > * {
  opacity: 0.38;
}
