.p-splitter {
  border: 1px solid #e0e0e0;
  background: #ffffff;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.87);
}
.p-splitter .p-splitter-gutter {
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  background: rgba(0, 0, 0, 0.04);
}
.p-splitter .p-splitter-gutter .p-splitter-gutter-handle {
  background: rgba(0, 0, 0, 0.12);
}
.p-splitter .p-splitter-gutter-resizing {
  background: rgba(0, 0, 0, 0.12);
}
