body {
    background-color: #f9f9fa;
    background-image: url('../../assets/logo.png');
    background-position: center;
    background-repeat: no-repeat;
}
h3{
    text-align: center;
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}
/* removed moving circle from loader*/
    .center {
        border: none !important;
        text-align: center;
    }

    .img{
        opacity:0.2

    }
