.window-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  &.hidden {
    display: none;
  }

  .content-tools-wrapper {
    background: white;
    border-bottom: 1px solid #dee2e6;
    padding: 0.5rem 1rem;
    position: relative;
    transition: all 0.2s ease-out;

    .content-tools {
      display: flex;

      button {
        margin-right: 5px;
      }
    }

    .icon-wrapper {
      position: absolute;
      right: 10px;
      bottom: 5px;
      cursor: pointer;
    }
  }

  .content-area-window {
    position: relative;
    height: 100%;
    display: none;

    &.show {
      display: block;
    }

    .data-window-container,
    .query-window-container {
      text-align: center;
    }

    .graph-toolbar {
      display: flex;
      flex-direction: column;
      position: absolute;
      right: 7px;
      top: 7px;
      padding: 2px 7px;
      border-radius: 8px;
      box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
      width: 35px;

      &-button {
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #495057;
        height: 29px;

        &:not(:last-of-type) {
          border-bottom: 1px solid #e6e6e6;
        }
      }
    }
  }

  .content-area-properties {
    .tab-3-container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      border-bottom: 1px solid #dee2e6;
      flex-flow: wrap;

      button {
        margin: 5px;
      }
    }
    .tab-3-content {
      display: block;
      text-align: center;

      .tab-3-content-item {
        display: none;
        margin: 1rem;
        color: #495057;

        &.show {
          display: block;
        }
      }
    }
  }
}
